body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 400;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #2B2B2E;
   text-decoration: underline;
}
a:visited
{
   color: #000000;
}
a:active
{
   color: #000000;
}
a:hover
{
   color: #000000;
   text-decoration: underline;
}
.wb-theme-header
{
   background-color: #E9E9E9;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   color: #333333;
   --background-color: rgba(233,233,233,1.00);
   --border-color: #DDDDDD;
   --border-width: 1px;
   --color: #333333;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   border-radius: 0px;
   color: #333333;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DDDDDD;
   --border-width: 1px;
   --color: #333333;
   --icon-color: #444444;
   --colorize: invert(23%) sepia(0%) saturate(1157%) hue-rotate(154deg) brightness(94%) contrast(82%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid #C5C5C5;
   border-radius: 0px;
   color: #454545;
   --background-color: rgba(246,246,246,1.00);
   --border-color: #C5C5C5;
   --border-width: 1px;
   --color: #454545;
}
.wb-theme-button:hover
{
   background-color: #EDEDED;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   color: #2B2B2B;
   --background-color: rgba(237,237,237,1.00);
   --border-color: #CCCCCC;
   --border-width: 1px;
   --color: #2B2B2B;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #3370B7;
   background-image: none;
   border: 1px solid #2E6DA4;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(51,112,183,1.00);
   --border-color: #2E6DA4;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #CCCCCC;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #CCCCCC;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #CCCCCC;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #CCCCCC;
   --icon-color: #3370B7;
   --colorize: invert(37%) sepia(89%) saturate(434%) hue-rotate(172deg) brightness(90%) contrast(91%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #090909;
   background-image: none;
   border: 1px solid #3A3A3A;
   border-radius: 0px;
   color: #BABABA;
   --background-color: rgba(9,9,9,1.00);
   --border-color: #3A3A3A;
   --border-width: 1px;
   --color: #BABABA;
}
.darktheme .wb-theme-button:hover
{
   background-color: #121212;
   background-image: none;
   border: 1px solid #333333;
   border-radius: 0px;
   color: #D4D4D4;
   --background-color: rgba(18,18,18,1.00);
   --border-color: #333333;
   --border-width: 1px;
   --color: #D4D4D4;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #3370B7;
   background-image: none;
   border: 1px solid #2E6DA4;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(51,112,183,1.00);
   --border-color: #2E6DA4;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   filter: drop-shadow(0px 0px 10px rgba(0,0,0,1.00));
   display: block;
   width: 100%;
   height: auto;
   max-width: 574px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#galleryLine1
{
   min-height: 26px;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' stroke='%23D3D3D3' d='M0,6c6,0,0.9,11.1,6.9,11.1S18,6,24,6'/%3e%3c/svg%3e");
   background-size: 26px 100%;
   background-repeat: repeat-x;
   border: 0 none transparent;
   margin: 0;
   padding: 0;
}
#wb_galleryHeading
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: center;
}
#galleryHeading
{
   color: #4A4A4D;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 27px;
   margin: 0;
   text-align: center;
   text-transform: none;
   -webkit-text-stroke: 1px #FFFFFF;
   text-stroke: 1px #FFFFFF;
}
#wb_headerLayoutGird
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F9;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGird
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGird > .col-1, #headerLayoutGird > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGird > .col-1, #headerLayoutGird > .col-2
{
   flex: 0 0 auto;
}
#headerLayoutGird > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#headerLayoutGird > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000080;
   border-radius: 0px;
   flex-basis: 41.66666667%;
   max-width: 41.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 320px)
{
#headerLayoutGird > .col-1, #headerLayoutGird > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_welcomeLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 75vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#welcomeLayoutGrid
{
   box-sizing: border-box;
   height: 75vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#welcomeLayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#welcomeLayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#welcomeLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#welcomeLayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_welcomeCarousel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_welcomeCarousel
{
   box-sizing: border-box;
   width: 100%;
   height: 508px;
}
#welcomeCarousel
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#welcomeCarousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   perspective: 1200px;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#welcomeCarousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#welcomeCarousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
   transition: opacity 2000ms ease-in-out;
   height: 100%;
   text-align: left;
}
#welcomeCarousel .carousel-item-inner
{
   padding: 20px 200px 50px 20px;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#welcomeCarousel .carousel-inner > .carousel-item > img, #welcomeCarousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#welcomeCarousel .carousel-inner > .active, #welcomeCarousel .carousel-inner > .carousel-item-next, #welcomeCarousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#welcomeCarousel .carousel-inner > .active
{
   animation: welcomeCarousel-animation-show 2000ms ease 0ms both;
}
#welcomeCarousel .carousel-inner > .carousel-item-next, #welcomeCarousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#welcomeCarousel .carousel-inner > .carousel-item-next.carousel-item-start, #welcomeCarousel .carousel-inner > .carousel-item-prev.carousel-item-end
{
   animation: welcomeCarousel-animation-show 2000ms ease 0ms both;
}
#welcomeCarousel .carousel-inner > .active.carousel-item-start, #welcomeCarousel .carousel-inner > .active.carousel-item-end
{
   animation: welcomeCarousel-animation-hide 2000ms ease both;
   transform-origin: 0% 50%;
}
#welcomeCarousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -45px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#welcomeCarousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 10px 10px 10px 10px;
   width: 9px;
   height: 9px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid rgba(169,169,169,1.00);
   box-shadow: inset 0 0 0 0 rgba(169,169,169,1.00);
   transition: box-shadow 0.3s ease;
}
#welcomeCarousel .carousel-indicators .active
{
   box-shadow: inset 0 0 0 5px rgba(169,169,169,1.00);
}
#welcomeCarousel .frame
{
   width: 970px;
   display: inline-block;
   float: left;
   height: 508px;
}
#welcomeCarousel .frame-1
{
   background-color: transparent;
   background-image: url('../images/0002_RT8.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#welcomeCarousel .frame-2
{
   background-color: transparent;
   background-image: url('../images/21-11-22 07-06-15 8138-.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#welcomeCarousel .frame-3
{
   background-color: transparent;
   background-image: url('../images/File0002.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
@keyframes welcomeCarousel-animation-show
{
   0%   { transform: translateX(100%); }
   100% { transform: translateX(0); }
}
@keyframes welcomeCarousel-animation-hide
{
   0%   { }
   100% { opacity: 0; transform: rotateY(90deg); }
}
#wb_introLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-image: linear-gradient(to bottom, rgba(0,0,128,0.87) 0%, #FFFFFF 100%);
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#introLayoutGrid1
{
   box-sizing: border-box;
   padding: 75px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#introLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#introLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#introLayoutGrid1 > .row > .col-1
{
   float: left;
   height: 885px;
}
#introLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#introLayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#introLayoutGrid1:before,
#introLayoutGrid1:after,
#introLayoutGrid1 .row:before,
#introLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#introLayoutGrid1:after,
#introLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#introLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_introLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#introLayoutGrid2
{
   box-sizing: border-box;
   padding: 10px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#introLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#introLayoutGrid2 > .row > .col-1, #introLayoutGrid2 > .row > .col-2, #introLayoutGrid2 > .row > .col-3, #introLayoutGrid2 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#introLayoutGrid2 > .row > .col-1, #introLayoutGrid2 > .row > .col-2, #introLayoutGrid2 > .row > .col-3, #introLayoutGrid2 > .row > .col-4
{
   float: left;
}
#introLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#introLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#introLayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#introLayoutGrid2 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#introLayoutGrid2:before,
#introLayoutGrid2:after,
#introLayoutGrid2 .row:before,
#introLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#introLayoutGrid2:after,
#introLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#introLayoutGrid2 > .row > .col-1, #introLayoutGrid2 > .row > .col-2, #introLayoutGrid2 > .row > .col-3, #introLayoutGrid2 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_servicesLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F9;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#servicesLayoutGrid2
{
   box-sizing: border-box;
   padding: 50px 13px 50px 13px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#servicesLayoutGrid2 > .row
{
   margin-right: -13px;
   margin-left: -13px;
}
#servicesLayoutGrid2 > .row > .col-1, #servicesLayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 13px;
   padding-left: 13px;
   position: relative;
}
#servicesLayoutGrid2 > .row > .col-1, #servicesLayoutGrid2 > .row > .col-2
{
   float: left;
}
#servicesLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#servicesLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#servicesLayoutGrid2:before,
#servicesLayoutGrid2:after,
#servicesLayoutGrid2 .row:before,
#servicesLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#servicesLayoutGrid2:after,
#servicesLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#servicesLayoutGrid2 > .row > .col-1, #servicesLayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_galleryLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#galleryLayoutGrid1
{
   box-sizing: border-box;
   padding: 75px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#galleryLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#galleryLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#galleryLayoutGrid1 > .row > .col-1
{
   float: left;
}
#galleryLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#galleryLayoutGrid1:before,
#galleryLayoutGrid1:after,
#galleryLayoutGrid1 .row:before,
#galleryLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#galleryLayoutGrid1:after,
#galleryLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#galleryLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_galleryLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#galleryLayoutGrid2
{
   box-sizing: border-box;
   padding: 0 10px 50px 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#galleryLayoutGrid2 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#galleryLayoutGrid2 > .row > .col-1, #galleryLayoutGrid2 > .row > .col-2, #galleryLayoutGrid2 > .row > .col-3, #galleryLayoutGrid2 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#galleryLayoutGrid2 > .row > .col-1, #galleryLayoutGrid2 > .row > .col-2, #galleryLayoutGrid2 > .row > .col-3, #galleryLayoutGrid2 > .row > .col-4
{
   float: left;
}
#galleryLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#galleryLayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 0 0;
}
#galleryLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#galleryLayoutGrid2 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 58px 0 0 0;
}
#galleryLayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#galleryLayoutGrid2 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 0 0;
}
#galleryLayoutGrid2 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#galleryLayoutGrid2:before,
#galleryLayoutGrid2:after,
#galleryLayoutGrid2 .row:before,
#galleryLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#galleryLayoutGrid2:after,
#galleryLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#galleryLayoutGrid2 > .row > .col-1, #galleryLayoutGrid2 > .row > .col-2, #galleryLayoutGrid2 > .row > .col-3, #galleryLayoutGrid2 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_upIcon:hover #upIcon i
{
   color: #007BFF;
}
#wb_introText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 20px 0 20px 0 ;
   text-align: center;
}
#wb_introText2
{
   color: #FFFFFF;
   font-family: HGPGothicE;
   font-weight: 400;
   font-size: 15px;
   line-height: 19px;
}
#wb_introText2 p, #wb_introText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_introText2
{
   display: block;
   margin: 20px 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_introText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: center;
}
#wb_introText1
{
   color: #FFFFFF;
   font-family: HGGothicM;
   font-weight: bold;
   font-size: 32px;
   line-height: 36px;
}
#wb_introText1 p, #wb_introText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_introText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_introCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#introCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#introCard2-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 1px solid #AAAAFF;
   border-radius: 1px;
   width: 100%;
   height: auto;
}
#introCard2-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 250ms ease-out 0ms;
}
#wb_introCard2:hover #introCard2-card-item0
{
   transform: rotate(0deg) scale(1.3,1.3) ;
   transition: transform 250ms ease-out 0ms;
}
#introCard2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#introCard2-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_introCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#introCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#introCard3-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 1px solid #AAAAFF;
   border-radius: 1px;
   width: 100%;
   height: auto;
}
#introCard3-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 250ms ease-out 0ms;
}
#wb_introCard3:hover #introCard3-card-item0
{
   transform: rotate(0deg) scale(1.05,1.05) ;
   transition: transform 250ms ease-out 0ms;
}
#introCard3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#wb_introCard4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#introCard4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#introCard4-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 1px solid #AAAAFF;
   border-radius: 1px;
   width: 100%;
   height: auto;
}
#introCard4-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 250ms ease-out 0ms;
}
#wb_introCard4:hover #introCard4-card-item0
{
   transform: rotate(0deg) scale(1.05,1.05) ;
   transition: transform 250ms ease-out 0ms;
}
#introCard4-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#introLine1
{
   min-height: 26px;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke-width='1' stroke-linecap='square' stroke-miterlimit='10' stroke='%23FFFFFF' d='M0,6c6,0,0.9,11.1,6.9,11.1S18,6,24,6'/%3e%3c/svg%3e");
   background-size: 26px 100%;
   background-repeat: repeat-x;
   border: 0 none transparent;
   margin: 0;
   padding: 0;
}
#wb_headerLogo
{
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(to left, #FFF200 0%, #F30301 72%, #4F0808 100%);
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#headerLogo
{
   color: transparent;
   font-family: "Open Sans";
   font-weight: 800;
   font-style: normal;
   font-size: 29px;
   margin: 0;
   text-align: left;
   text-transform: none;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.13);
}
#wb_galleryText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 20px 0 20px 0 ;
   text-align: center;
}
#wb_galleryText
{
   color: #000000;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
}
#wb_galleryText p, #wb_galleryText ul
{
   margin: 0;
   padding: 0;
}
#wb_galleryText
{
   display: block;
   margin: 20px 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 183px;
   height: 193px;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 445px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 445px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image5
{
   background-color: #FFFFFF;
   transition: background-color 250ms linear 0ms;
}
#Image5:hover
{
   transform: rotate(0deg) scale(1.2,1.2) ;
   transition: transform 500ms linear 0ms;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   filter: drop-shadow(0px 0px 10px rgba(0,0,0,1.00));
   display: block;
   width: 100%;
   height: auto;
   max-width: 370px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 445px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image9
{
   margin: 0;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 250px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image9
{
   background: ;
   transition: background 250ms linear 0ms;
}
#Image9:hover
{
   transform: rotate(0deg) scale(1.7,1.7) ;
   transition: transform 500ms ease-out 0ms;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
.DropdownMenu2 .nav
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #454545;
   text-align: left;
   text-transform: none;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu2 .nav:before,
.DropdownMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .nav:after 
{
   clear: both;
}
.DropdownMenu2 .nav a 
{
   text-decoration: none;
}
.DropdownMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu2 .container:before,
.DropdownMenu2 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .container:after 
{
   clear: both;
}
.DropdownMenu2 .collapse 
{
   display: none;
}
.DropdownMenu2 .collapse.show 
{
   display: block;
}
.DropdownMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu2 .arrow, .DropdownMenu2 .arrow-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu2 .dropdown 
{
   position: relative;
}
.DropdownMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu2 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #454545;
   text-transform: none;
   white-space: nowrap;
}
.DropdownMenu2 .dropdown-menu > li > a:hover,
.DropdownMenu2 .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .dropdown-menu > li > a.active,
.DropdownMenu2 .dropdown-menu > li > a.active:hover,
.DropdownMenu2 .dropdown-menu > li > a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu2 .show > .dropdown-menu
{
   display: block;
}
.DropdownMenu2 .show > a
{
   outline: 0;
}
.DropdownMenu2 .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu2 .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu2 .dropdown.show .dropdown-menu
{
   animation-name: DropdownMenu2-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
@keyframes DropdownMenu2-animation
{
   0%
   {
      opacity: 0;
   }
   100%
   {
      opacity: 1;
   }
}
.DropdownMenu2 .nav > li 
{
   position: relative;
   display: block;
}
.DropdownMenu2 .nav > li > a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu2 .nav .show > a,
.DropdownMenu2 .nav .show > a:hover,
.DropdownMenu2 .nav .show > a:focus
{
    border-color: #FFFFFF;
}
.DropdownMenu2 .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .nav .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2
{
   position: relative;
}
.DropdownMenu2:before,
.DropdownMenu2:after
{
   content: " ";
   display: table;
}
.DropdownMenu2:after
{
   clear: both;
}
.DropdownMenu2 .navbar-header:before,
.DropdownMenu2 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu2 .navbar-header:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu2-navbar-collapse:before,
.DropdownMenu2-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu2-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu2 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu2 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu2 .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu2 .navbar-nav > li > a
{
   color: #454545;
}
.DropdownMenu2 .navbar-nav > li > a:hover,
.DropdownMenu2 .navbar-nav > li > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu2 .navbar-nav > li > a.active,
.DropdownMenu2 .navbar-nav > li > a.active:hover,
.DropdownMenu2 .navbar-nav > li > a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu2 .navbar-toggle:hover,
.DropdownMenu2 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu2 .navbar-toggle .icon-bar
{
   background-color: #333333;
}
.DropdownMenu2-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu2 .navbar-nav > .dropdown > a:hover .arrow,
.DropdownMenu2 .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav > .show > a,
.DropdownMenu2 .navbar-nav > .show > a:hover,
.DropdownMenu2 .navbar-nav > .show > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav > .show > a .arrow,
.DropdownMenu2 .navbar-nav > .show > a:hover .arrow,
.DropdownMenu2 .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #454545;
   border-bottom-color: #454545;
}
.DropdownMenu2 .navbar-link
{
   color: #454545;
}
.DropdownMenu2 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-header
{
   color: #333333;
}
.DropdownMenu2 .dropdown-hover > .dropdown-menu
{
   margin-top:-1px !important;
}
@media (min-width: 768px) 
{
.DropdownMenu2 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu2 .navbar-header
{
   float: left;
}
.DropdownMenu2-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu2-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle
{
   display: none;
}
.DropdownMenu2 .navbar-nav
{
   float: left;
   margin: 0;
}
.DropdownMenu2 .navbar-nav > li
{
   float: left;
}
.DropdownMenu2 .container > .navbar-header,
.DropdownMenu2 .container > .DropdownMenu2-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu2 .navbar-nav > .dropdown > a:hover .arrow,
.DropdownMenu2 .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu2 .navbar-nav
{
   margin: 0;
   background-color: #F6F6F6;
   background-image: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu > li > a,
.DropdownMenu2 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
}
.DropdownMenu2 .navbar-nav > li > a
{
   color: #333333;
}
.DropdownMenu2 .navbar-nav > li > a:hover,
.DropdownMenu2 .navbar-nav > li > a:focus
{
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
.DropdownMenu2 .navbar-nav > li > a.active,
.DropdownMenu2 .navbar-nav > li > a.active:hover,
.DropdownMenu2 .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
.DropdownMenu2 .navbar-nav > .show > a,
.DropdownMenu2 .navbar-nav > .show > a:hover,
.DropdownMenu2 .navbar-nav > .show > a:focus
{
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > .dropdown > a:hover .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #333333;
   border-bottom-color: #333333;
}
.DropdownMenu2 .navbar-nav > li > a.active > .arrow,
.DropdownMenu2 .navbar-nav > li > a.active:hover > .arrow,
.DropdownMenu2 .navbar-nav > li > a.active:focus > .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav > .show > a .arrow,
.DropdownMenu2 .navbar-nav > .show > a:hover .arrow,
.DropdownMenu2 .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-link
{
   color: #333333;
}
.DropdownMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu2 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_DropdownMenu2
{
   z-index: 1111 !important;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   max-width: 400px;
   margin-left: auto !important;
   margin-right: auto !important;
   background-image: linear-gradient(to top, rgba(170,170,255,0.75) 0%, #000000 100%);
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
   text-align: center;
}
#Card1-card-body
{
   padding: 20px 20px 20px 20px;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: HGMaruGothicMPRO;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   line-height: 26px;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 1px solid #AAAAFF;
   border-radius: 1px;
   width: 100%;
   height: auto;
}
#Card2-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 250ms ease-out 0ms;
}
#wb_Card2:hover #Card2-card-item0
{
   transform: rotate(0deg) scale(1.3,1.3) ;
   transition: transform 250ms ease-out 0ms;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
