body:before
{
   content: "";
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background-image: linear-gradient(225deg, #FFFFFF 0%, #87CEFA 100%);
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
   text-shadow: 4px 2px 1px rgba(0,0,0,0.50);
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 1px 0px 0px #A9A9A9;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1
{
   width: 950px;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1
{
   width: 100%;
}
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading1
{
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #4169E1;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-shadow: 3px 0px 0px rgba(192,192,192,0.50);
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 29px;
   margin: 0;
   text-align: center;
   text-shadow: 4px 2px 1px rgba(0,0,0,0.50);
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3
{
   width: 950px;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3
{
   width: 100%;
}
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 27px;
   line-height: 33px;
}
#wb_Text3 p, #wb_Text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 17px;
   line-height: 26px;
}
#wb_Text4 p, #wb_Text4 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 27px;
   line-height: 33px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 17px;
   line-height: 39px;
}
#wb_Text5 p, #wb_Text5 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 21px;
   line-height: 27px;
}
#wb_Text6 p, #wb_Text6 ul
{
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 27px;
   line-height: 33px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 21px;
   line-height: 27px;
}
#wb_Text8 p, #wb_Text8 ul
{
   margin: 0;
   padding: 0;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 17px;
   line-height: 33px;
}
#wb_Text9 p, #wb_Text9 ul
{
   margin: 0;
   padding: 0;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(0px 3px 10px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 27px;
   line-height: 33px;
}
#wb_Text10 p, #wb_Text10 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 21px;
   line-height: 27px;
}
#wb_Text11 p, #wb_Text11 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12
{
   color: #000000;
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 17px;
   line-height: 39px;
}
#wb_Text12 p, #wb_Text12 ul
{
   margin: 0;
   padding: 0;
}
#wb_Heading4
{
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
.DropdownMenu2 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #454545;
   text-align: left;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu2 .nav:before,
.DropdownMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .nav:after 
{
   clear: both;
}
.DropdownMenu2 .nav a 
{
   text-decoration: none;
}
.DropdownMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu2 .container:before,
.DropdownMenu2 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu2 .container:after 
{
   clear: both;
}
.DropdownMenu2 .collapse 
{
   display: none;
}
.DropdownMenu2 .collapse.show 
{
   display: block;
}
.DropdownMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu2 .caret, .DropdownMenu2 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu2 .dropdown 
{
   position: relative;
}
.DropdownMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu2 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #454545;
   white-space: nowrap;
}
.DropdownMenu2 .dropdown-menu>li>a:hover,
.DropdownMenu2 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .dropdown-menu>li>a.active,
.DropdownMenu2 .dropdown-menu>li>a.active:hover,
.DropdownMenu2 .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu2 .show>.dropdown-menu 
{
   display: block;
}
.DropdownMenu2 .show>a 
{
   outline: 0;
}
.DropdownMenu2 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu2 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu2 .nav>li 
{
   position: relative;
   display: block;
}
.DropdownMenu2 .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu2 .nav .show>a,
.DropdownMenu2 .nav .show>a:hover,
.DropdownMenu2 .nav .show>a:focus 
{
    border-color: #F5F5F5;
}
.DropdownMenu2 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.DropdownMenu2 .nav .caret 
{
   border-top-color: #F5F5F5;
   border-bottom-color: #F5F5F5;
}
.DropdownMenu2
{
   position: relative;
}
.DropdownMenu2:before,
.DropdownMenu2:after
{
   content: " ";
   display: table;
}
.DropdownMenu2:after
{
   clear: both;
}
.DropdownMenu2 .navbar-header:before,
.DropdownMenu2 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu2 .navbar-header:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu2-navbar-collapse:before,
.DropdownMenu2-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu2-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu2-navbar-collapse.show 
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu2 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu2 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu2 .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu2 .navbar-nav>li>a
{
   color: #454545;
}
.DropdownMenu2 .navbar-nav>li>a:hover,
.DropdownMenu2 .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.DropdownMenu2 .navbar-nav>li>a.active,
.DropdownMenu2 .navbar-nav>li>a.active:hover,
.DropdownMenu2 .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.DropdownMenu2 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu2 .navbar-toggle:hover,
.DropdownMenu2 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu2 .navbar-toggle .icon-bar
{
   background-color: #333333;
}
.DropdownMenu2-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu2 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav>.show>a,
.DropdownMenu2 .navbar-nav>.show>a:hover,
.DropdownMenu2 .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav>.show>a .caret,
.DropdownMenu2 .navbar-nav>.show>a:hover .caret,
.DropdownMenu2 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.DropdownMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #454545;
   border-bottom-color: #454545;
}
.DropdownMenu2 .navbar-link
{
   color: #454545;
}
.DropdownMenu2 .navbar-link:hover
{
   color: #2B2B2B;
}
.DropdownMenu2 .navbar-header
{
   color: #333333;
}
@media (min-width: 768px) 
{
.DropdownMenu2 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu2 .navbar-header
{
   float: left;
}
.DropdownMenu2-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu2-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu2-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu2 .navbar-toggle
{
   display: none;
}
.DropdownMenu2 .navbar-nav 
{
   float: left;
   margin: 0;
}
.DropdownMenu2 .navbar-nav>li 
{
   float: left;
}
.DropdownMenu2 .container>.navbar-header,
.DropdownMenu2 .container>.DropdownMenu2-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret,
.DropdownMenu2 .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(245,245,245,0.00);
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
}
.DropdownMenu2 .navbar-nav
{
   margin: 0;
   background-color: #F6F6F6;
   background-image: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu>li>a,
.DropdownMenu2 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu2 .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu2 
{
   background-color: rgba(245,245,245,0.00);
   background-image: none;
   border: 1px solid rgba(221,221,221,0.00);
   border-radius: 0px;
}
.DropdownMenu2 .navbar-nav>li>a
{
   color: #333333;
}
.DropdownMenu2 .navbar-nav>li>a:hover,
.DropdownMenu2 .navbar-nav>li>a:focus
{
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
.DropdownMenu2 .navbar-nav>li>a.active,
.DropdownMenu2 .navbar-nav>li>a.active:hover,
.DropdownMenu2 .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
.DropdownMenu2 .navbar-nav>.show>a,
.DropdownMenu2 .navbar-nav>.show>a:hover,
.DropdownMenu2 .navbar-nav>.show>a:focus
{
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #333333;
   border-bottom-color: #333333;
}
.DropdownMenu2 .navbar-nav > li > a.active > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu2 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-nav>.show>a .caret,
.DropdownMenu2 .navbar-nav>.show>a:hover .caret,
.DropdownMenu2 .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu2 .navbar-link
{
   color: #333333;
}
.DropdownMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu2 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_DropdownMenu2
{
   z-index: 1111 !important;
}
#wb_Image1
{
   position: absolute;
   left: 37px;
   top: 13px;
   width: 127px;
   height: 133px;
   z-index: 7;
}
#wb_Text4
{
   position: absolute;
   left: 479px;
   top: 758px;
   width: 450px;
   height: 264px;
   z-index: 10;
}
#wb_Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 4;
}
#wb_Image3
{
   position: absolute;
   left: 109px;
   top: 642px;
   width: 300px;
   height: 478px;
   z-index: 14;
}
#wb_Text5
{
   position: absolute;
   left: 479px;
   top: 1304px;
   width: 450px;
   height: 370px;
   z-index: 12;
}
#wb_Image4
{
   position: absolute;
   left: 37px;
   top: 1224px;
   width: 392px;
   height: 478px;
   z-index: 15;
}
#wb_Text6
{
   position: absolute;
   left: 495px;
   top: 1261px;
   width: 301px;
   height: 27px;
   text-align: center;
   z-index: 13;
}
#wb_Image5
{
   position: absolute;
   left: 88px;
   top: 1760px;
   width: 298px;
   height: 468px;
   z-index: 18;
}
#wb_Text7
{
   position: absolute;
   left: 479px;
   top: 1787px;
   width: 251px;
   height: 34px;
   text-align: center;
   z-index: 16;
}
#wb_Image6
{
   position: absolute;
   left: 100px;
   top: 2307px;
   width: 296px;
   height: 450px;
   z-index: 20;
}
#wb_Heading4
{
   position: absolute;
   left: 409px;
   top: 300px;
   width: 520px;
   height: 62px;
   z-index: 24;
}
#wb_Text12
{
   position: absolute;
   left: 466px;
   top: 2359px;
   width: 440px;
   height: 396px;
   z-index: 23;
}
#wb_Text1
{
   position: absolute;
   left: 464px;
   top: 1227px;
   width: 251px;
   height: 33px;
   text-align: center;
   z-index: 11;
}
#wb_Text11
{
   position: absolute;
   left: 481px;
   top: 2338px;
   width: 301px;
   height: 36px;
   text-align: center;
   z-index: 22;
}
#wb_Text10
{
   position: absolute;
   left: 490px;
   top: 2304px;
   width: 283px;
   height: 34px;
   text-align: center;
   z-index: 21;
}
#wb_Text3
{
   position: absolute;
   left: 542px;
   top: 706px;
   width: 288px;
   height: 24px;
   z-index: 9;
}
#wb_Heading2
{
   display: inline-block;
   width: 818px;
   height: 52px;
   z-index: 0;
}
#wb_Heading3
{
   display: inline-block;
   width: 920px;
   height: 61px;
   z-index: 1;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_Text8
{
   position: absolute;
   left: 529px;
   top: 1821px;
   width: 301px;
   height: 27px;
   text-align: center;
   z-index: 17;
}
#wb_DropdownMenu2
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#wb_Text9
{
   position: absolute;
   left: 464px;
   top: 1848px;
   width: 440px;
   height: 363px;
   z-index: 19;
}
@media only screen and (min-width: 480px) and (max-width: 949px)
{
body
{
   background-color: #FFFFFF;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading2
{
   width: 450px;
   height: 52px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
   font-size: 20px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 20px;
   text-align: center;
   text-shadow: 4px 2px 1px rgba(0,0,0,0.50);
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1
{
   width: 100%;
}
#LayoutGrid1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
   font-size: 27px;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading1
{
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading1
{
   color: #4169E1;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   text-shadow: 3px 0px 0px rgba(192,192,192,0.50);
}
#wb_Image1
{
   left: 37px;
   top: 13px;
   width: 89px;
   height: 93px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Heading3
{
   width: 450px;
   height: 61px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
   font-size: 19px;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: center;
   text-shadow: 4px 2px 1px rgba(0,0,0,0.50);
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3
{
   width: 100%;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 104px;
   top: 579px;
   width: 288px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 20px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 25px;
}
#wb_Text4
{
   left: 37px;
   top: 605px;
   width: 427px;
   height: 204px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: justify;
   line-height: 20px;
}
#wb_Text1
{
   left: 102px;
   top: 1211px;
   width: 251px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 20px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 25px;
}
#wb_Text5
{
   left: 9px;
   top: 1262px;
   width: 455px;
   height: 245px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 12px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 27px;
}
#wb_Text6
{
   left: 84px;
   top: 1238px;
   width: 301px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 23px;
}
#wb_Image3
{
   left: 139px;
   top: 794px;
   width: 247px;
   height: 394px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 93px;
   top: 1434px;
   width: 292px;
   height: 361px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 105px;
   top: 1819px;
   width: 251px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 20px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 25px;
}
#wb_Text8
{
   left: 89px;
   top: 1845px;
   width: 301px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 23px;
}
#wb_Image5
{
   left: 106px;
   top: 2097px;
   width: 242px;
   height: 380px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 17px;
   top: 1880px;
   width: 440px;
   height: 204px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 25px;
}
#wb_Image6
{
   left: 115px;
   top: 2826px;
   width: 237px;
   height: 360px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 97px;
   top: 2508px;
   width: 283px;
   height: 33px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 27px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 34px;
}
#wb_Text11
{
   left: 79px;
   top: 2541px;
   width: 301px;
   height: 27px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 21px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 27px;
}
#wb_Text12
{
   left: 20px;
   top: 2568px;
   width: 440px;
   height: 245px;
   visibility: visible;
   display: inline;
}
#wb_Text12
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 30px;
}
#wb_Heading4
{
   left: 25px;
   top: 256px;
   width: 404px;
   height: 64px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 27px;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading4
{
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
}
#wb_DropdownMenu2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading2
{
   width: 290px;
   height: 52px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: center;
   text-shadow: 4px 2px 1px rgba(0,0,0,0.50);
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1
{
   width: 100%;
}
#LayoutGrid1 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
   font-size: 27px;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading1
{
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading1
{
   color: #4169E1;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 27px;
   text-align: center;
   text-shadow: 3px 0px 0px rgba(192,192,192,0.50);
}
#wb_Image1
{
   left: 10px;
   top: 13px;
   width: 61px;
   height: 65px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Heading3
{
   width: 287px;
   height: 53px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   text-align: center;
   text-shadow: 4px 2px 1px rgba(0,0,0,0.50);
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid3
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   height: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3
{
   width: 100%;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 45px;
   top: 479px;
   width: 231px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 23px;
}
#wb_Text4
{
   left: 14px;
   top: 507px;
   width: 284px;
   height: 156px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 16px;
}
#wb_Text1
{
   left: 31px;
   top: 1092px;
   width: 251px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 20px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 25px;
}
#wb_Text5
{
   left: 12px;
   top: 1142px;
   width: 293px;
   height: 234px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 24px;
}
#wb_Text6
{
   left: 6px;
   top: 1115px;
   width: 301px;
   height: 27px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 17px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 22px;
}
#wb_Image3
{
   left: 34px;
   top: 680px;
   width: 242px;
   height: 387px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 22px;
   top: 1386px;
   width: 267px;
   height: 331px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 30px;
   top: 1743px;
   width: 251px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 20px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 25px;
}
#wb_Text8
{
   left: 4px;
   top: 1762px;
   width: 301px;
   height: 22px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 17px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 22px;
}
#wb_Image5
{
   left: 39px;
   top: 2007px;
   width: 239px;
   height: 375px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   left: 8px;
   top: 1784px;
   width: 305px;
   height: 215px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 20px;
}
#wb_Image6
{
   left: 13px;
   top: 2706px;
   width: 295px;
   height: 450px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   left: 14px;
   top: 2422px;
   width: 283px;
   height: 26px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 20px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 25px;
}
#wb_Text11
{
   left: 5px;
   top: 2448px;
   width: 301px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 19px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 23px;
}
#wb_Text12
{
   left: 19px;
   top: 2472px;
   width: 271px;
   height: 234px;
   visibility: visible;
   display: inline;
}
#wb_Text12
{
   font-family: "游明朝 Demibold";
   font-weight: 400;
   font-size: 11px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 24px;
}
#wb_Heading4
{
   left: 15px;
   top: 220px;
   width: 290px;
   height: 19px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   font-size: 19px;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading4
{
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: HG正楷書体-PRO;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   text-align: center;
}
#wb_DropdownMenu2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#DropdownMenu2, .DropdownMenu2 .nav, .DropdownMenu2 .dropdown-menu
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
}
